<div class="row">
  <div class="columns small-12 medium-6">
    x
  </div>
  <div class="columns small-12 medium-6">
    y
  </div>
</div>


<%= link_to new_note_path do %>
  <span >
      Write Note
  </span>
<% end %>
<div >
    <% @notes.each do |note| %>

        <p><%=note.content%>
          <span>
            <i>&nbsp;<%= link_to_unless(note.seen, 'Seen', note_seen_path(note)) %></i>
            <br/>
          </span>

        </p>
        <span>
            <i><%= time_ago_in_words(note.created_at) %>&nbsp;ago</i><br/>
            <i>This note will expire at <%= Time.at(note.expires_by.to_i).strftime("%B %e, %Y at %I:%M %p")%>&nbsp;</i>
        </span>

    <% end %>
</div>
