

<div >
    <div id="backbutton" >
      <%= link_to "Back", root_path %>
    </div>
    <h1 id="notelabel">Write it!!</h1><br/>
    <div class="form-group" id="notebutton">

        <%= form_for @note do |form| %>
          <%= render 'shared/error_messages', object: @note %>
          <%= form.text_area :content , placeholder: "What's up?", class: 'form-control', id:'textarea'%><br />

          <div class="postitButtonContainer">
            <%= form.submit 'Post it!!', class: 'post-it' %>
          </div>
        <% end %>
    </div>
</div>
